$primary-color: #1d283a;
$secondary-color: #37404f;
$gold-color: #bea950;
$gold-opacity: #beaa5052;
$blue-opacity: rgba(55, 64, 79, 0.7);
$font-lora: "Lora", serif;

@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1d283a;
  font-family: "Karla", sans-serif;
  font-weight: normal;
  color: #ffffff;
}

img {
  height: auto;
  width: 100%;
}

.container {
  max-width: 1150px;
  margin: auto;
  padding: 2rem 1rem;

  &-fluid {
    max-width: 850px;
    margin: auto;
    padding: 2em 0;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.gold {
  color: $gold-color;
}

.dark-blue {
  color: $primary-color;
}

.mt-150 {
  margin-top: 150px !important;
}

.float-right {
  width: 15%;
  position: relative;
  right: 0;
  left: 0;
  margin-left: auto;
}

$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}em;
  }
  .m-tb-#{$space} {
    margin-top: #{$space}em;
    margin-bottom: #{$space}em;
  }
  .m-t-#{$space} {
    margin-top: #{$space}em;
  }
  .m-b-#{$space} {
    margin-bottom: #{$space}em;
  }
  .m-lr-#{$space} {
    margin-left: #{$space}em;
    margin-right: #{$space}em;
  }
  .m-l-#{$space} {
    margin-left: #{$space}em;
  }
  .m-r-#{$space} {
    margin-right: #{$space}em;
  }
}

.bottom {
  position: absolute;
  bottom: 8rem;
  align-content: center;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}

.callout {
  margin-top: 2rem;

  h2 {
    font-size: 1.5rem;
  }
}

.team {
  margin-top: 2rem;
}

.bg-review {
  padding: 2rem 0;
}

.review {
  padding: 1rem;
  .review-title h4 {
    margin-bottom: 5px;
  }
  .review-rating {
    text-align: center;
    color: $gold-color;
  }
}

.impressie-gallery {
  display: block;
}

.pakketten,
.thema {
  margin-top: 2rem;

  h2 {
    font-size: 1.2rem;
  }

  .theme {
    position: relative;
    margin-bottom: 0.4em;
    .text-box {
      position: absolute;
      top: 10%;
      left: 10%;
      right: 5%;
      background: $blue-opacity;
      padding: 1em;
      font-size: 0.8rem;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        top: 0px;
        left: -8px;
        background: $gold-color;
      }

      h3 {
        margin-bottom: 0.2em;
        text-transform: uppercase;
      }
    }
  }
}

.img-gallery {
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  font-family: $font-lora;
  font-size: 2.5rem;
  color: $gold-color;
  margin-bottom: 0.5em;
}

h2 {
  font-family: $font-lora;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  line-height: 1.2;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
@media (min-width: 850px) {
  h1.title {
    font-size: 5rem;
  }
  h2.subtitle {
    margin-bottom: 2rem;
  }

  .keyfeatures {
    display: flex;
    text-align: center;
  }
  .inhoud {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1rem;
    justify-content: space-between;
  }
}

.pakket {
  background-color: var(--blue-opacity);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.happycust {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.theme {
  margin-bottom: 1em;
}

.thema {
  margin-right: 2rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 85%;
    width: 4px;
    right: -2rem;
    top: 10%;
    background: $gold-color;
  }
}

.impressie-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-gallery {
  grid-template-columns: repeat(5, 1fr);
}

// BUTTON //
button.blue-gold {
  color: $gold-color;
  background-color: $primary-color;
  padding: 0.2rem;
  border-radius: 15px;
  font-family: $font-lora;
  text-transform: uppercase;
  font-size: 1rem;
  border: 2px solid $gold-color;
  background-clip: content-box;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

button.btn-gold {
  color: $gold-color;
  background-color: transparent;
  padding: 0.75rem;
  border-radius: 15px;
  border: 2px solid $gold-color;
  text-transform: uppercase;
}

button.btn-gold-solid {
  color: #fff;
  background-color: $gold-color;
  padding: 0.75rem;
  border-radius: 15px;
  border: 0;
  box-shadow: 1px 3px 9px rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  cursor: pointer;
}

//SECTION//
.section {
  height: 100vh;
}

.section-C {
  padding: 2rem 0;
}
